.layout-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.layout-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  min-height: 100vh;
  grid-column-gap: 1em;
  /* grid-row-gap: 0px; */
}

.sidebar {
  /* initial-row/initial-col /final-row/final-col */
  grid-area: 1 / 1 / 6 / 2;
  border: 1px solid red;
}
.main {
  /* initial-row/initial-col /final-row/final-col */
  grid-area: 1 / 2 / 6 / 6;
  border: 1px solid green;
}
